aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.5
Deprecated==1.2.14
dnspython==2.6.1
email_validator==2.1.1
Faker==24.3.0
fastapi==0.110.0
frozenlist==1.4.1
g4f==0.3.0.7
greenlet==3.0.3
h11==0.14.0
idna==3.6
importlib_resources==6.4.0
jalali==1.2
jdatetime==4.1.1
Jinja2==3.1.3
langdetect==1.0.9
limits==3.10.1
MarkupSafe==2.1.5
multidict==6.0.5
nest-asyncio==1.6.0
packaging==24.0
pillow==10.3.0
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
PyJWT==2.8.0
PyNaCl==1.5.0
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pyttsx3==2.90
pytz==2024.1
requests==2.31.0
six==1.16.0
slowapi==0.1.9
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.29
starlette==0.36.3
typing_extensions==4.10.0
urllib3==2.2.1
uvicorn==0.29.0
wrapt==1.16.0
yarl==1.9.4
