annotated-types==0.6.0
anyio==4.3.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Faker==23.2.1
fastapi==0.109.2
h11==0.14.0
httpcore==1.0.3
httpx==0.26.0
idna==3.6
jalali==1.2
langdetect==1.0.9
packaging==23.2
pydantic==2.6.1
pydantic_core==2.16.2
python-dateutil==2.8.2
pytz==2024.1
replicate==0.24.0
requests==2.31.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
starlette==0.36.3
typing_extensions==4.9.0
urllib3==2.2.1
uvicorn==0.27.1
