<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 404 Matrix</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
<div>
    <div class="texts">
        <h1 class="title_404">
            <span>4</span>
            <span class="text_stroke">X</span>
            <span>4</span>
        </h1>
        <p class="text_404" style="font-weight: 600">Oops! You are in the
            <span class="matrix">matrix</span></p>
    </div>
</div>
<canvas id="matrix_"></canvas>

<script src="assets/script.js"></script>
<script src="assets/vanilla-tilt.min.js"></script>
</body>
</html>
